.about-box {

    &__content {
        padding: 0;
    }

    &__para {
        max-width: 100rem;
        width: 100%;

        p {
            font-size: 2.5rem;
            margin: 4rem 3rem;
            text-align: left;
            color: #eee;
            font-weight: 300;
        }
        
    } 

    &__img {

        width: 50%;
        
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    span {
        font-weight: 400;
        color: #fff;
    } 
}