/* MEDIA QUERY BREAKPOINTS 
    0-576px prtrait phones
    577-768 for tablets
    769-991 for tablets
    992px for laptops
    1200px for large devices

*/
:root {
  --color-primary: #1496BD;
  --color-primary-2: #1596bd;
  --color-primary-light: #72c0d7;
  --color-secondary: #3f706f;
  --color-secondary-2: #3e5e68;
  --color-tertiary: #F1C966;
  --color-tertiary-2: #ebc4b9;
  --color-tertiary-3: #6e5c56;
  --color-background: #131819;
  --color-background-2: #2b2f30;
}

header {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 31.25em) {
  header {
    padding-top: 1.5vw;
  }
}
header .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header h1 {
  font-size: 6.4rem;
  line-height: 0.9;
}
header .title-small {
  font-size: 3rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
@media only screen and (min-width: 135em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 61.9em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 48em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 36em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 22em) {
  html {
    font-size: 45%;
  }
}

body {
  font-family: "Times New Roman", serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.3;
  color: black;
  background-color: white;
  position: relative;
  overflow: hidden;
}
body .svg-overlay {
  pointer-events: none;
}
body p {
  line-height: 1.4;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.btn, .btn-2 {
  display: block;
  width: 16rem;
  background-color: white;
  padding: 1.5rem;
  text-decoration: none;
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 500;
  background-size: 260%;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-primary) 50%);
  transition: all 0.2s;
  margin: 0 auto;
  text-align: center;
  z-index: 999;
  position: relative;
}
.btn:hover, .btn-2:hover {
  background-position: 90%;
  color: white;
  transform: translateY(0.5rem);
}

.btn-2 {
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-primary) 50%);
}
.btn-2:hover {
  color: white;
  border: 2px solid var(--color-primary);
}

main {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main h2 {
  font-size: 3.2rem;
}

.u-align-center {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.contact-box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 3rem auto;
}
.contact-box__column {
  font-size: 2rem;
  color: #eee;
  padding: 0rem 3rem;
  text-align: left;
}
.contact-box__column > p {
  margin-top: 2rem;
}
.contact-box__column h2 {
  font-weight: 400;
  font-size: 4rem;
}
.contact-box__column--left {
  flex: 27%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-box__column--left p {
  max-width: 60rem;
}
.contact-box__column--right {
  flex: 40%;
  min-width: 50rem;
  display: flex;
  flex-direction: column;
  margin-right: 12vw;
}
@media only screen and (max-width: 61.9em) {
  .contact-box__column--right {
    flex: 68%;
    margin-right: 1vw;
  }
}
@media only screen and (max-width: 36em) {
  .contact-box__column--right {
    font-size: 6rem;
    margin-right: 0;
  }
}
@media only screen and (max-width: 26em) {
  .contact-box__column--right {
    min-width: 30rem;
  }
}
.contact-box__info {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}
.contact-box__icon {
  height: 3rem;
  width: 3rem;
  fill: var(--color-primary);
}
.contact-box__icon-div {
  margin-right: 1.6rem;
}
.contact-box__detail-div {
  text-align: left;
}
.contact-box__para {
  font-size: 2rem;
}
.contact-box__para--1 {
  font-weight: 800;
}
.contact-box__form {
  height: 100%;
}

.form {
  position: relative;
  z-index: 998;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
.form__name-email {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0rem;
}
.form__name-email input {
  flex-basis: 48%;
}
.form__input, .form__textarea {
  font-size: 2rem;
  font-family: inherit;
  padding: 0.7rem;
  background-color: var(--color-background);
  border: 2px solid transparent;
  border-bottom: 2px solid var(--color-tertiary-2);
  color: #ccc;
  width: 100%;
  margin-top: 1.6rem;
  overflow-y: hidden;
}
.form__input::-moz-placeholder, .form__textarea::-moz-placeholder {
  font-size: 2rem;
  color: #aaa;
}
.form__input::placeholder, .form__textarea::placeholder {
  font-size: 2rem;
  color: #aaa;
}
.form__input:focus, .form__textarea:focus {
  outline: none;
  border: 2px solid transparent;
  border-bottom: 2px solid var(--color-tertiary-2);
}
.form__input:required, .form__textarea:required {
  border: 2px solid transparent;
  border-bottom: 2px solid var(--color-tertiary-2);
}
.form__textarea {
  height: 4.6rem;
}
.form__button {
  margin-top: 9rem;
  align-self: flex-start;
  justify-self: flex-end;
}
.form__button .btn, .form__button .btn-2 {
  margin: auto 0;
  width: 20rem;
  background-color: #eee;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 61.9em) {
  .form__button .btn, .form__button .btn-2 {
    margin-bottom: 6rem;
  }
}
.form__button input[type=submit] {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  border: none;
}

.section-header {
  margin: 3rem;
  text-align: left;
  width: 97%;
}
@media only screen and (max-width: 36em) {
  .section-header {
    text-align: center;
    margin: 3rem auto;
  }
}
.section-header h2 {
  font-size: 8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 135em) {
  .section-header h2 {
    font-size: 10rem;
  }
}
@media only screen and (max-width: 36em) {
  .section-header h2 {
    font-size: 7rem;
    margin-bottom: 5rem;
  }
}
.section-header h3 {
  font-size: 3.5rem;
  font-weight: 500;
  font-style: italic;
  display: none;
}
.section-header span {
  font-weight: 700;
  font-size: 8.3rem;
  color: var(--color-primary);
  filter: none;
}
@media only screen and (min-width: 135em) {
  .section-header span {
    font-size: 10rem;
  }
}
@media only screen and (max-width: 36em) {
  .section-header span {
    font-size: 7.3rem;
  }
}

.services-box {
  height: 80rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}
@media only screen and (max-width: 36em) {
  .services-box {
    height: 55rem;
  }
}
.services-box h3 {
  font-size: 10rem;
  text-transform: uppercase;
  margin: 3rem;
  margin-bottom: 7rem;
  font-weight: 500;
}
@media only screen and (max-width: 36em) {
  .services-box h3 {
    font-size: 8rem;
  }
}
.services-box__content {
  height: 100%;
  width: 100vw;
  position: absolute;
  top: -3%;
  left: 50vw;
  transform: translateX(-50%);
}
@media only screen and (max-width: 36em) {
  .services-box__content {
    top: -35%;
  }
}

.services .section-header {
  position: relative;
  transform: translateY(-20rem);
}
@media only screen and (max-width: 36em) {
  .services .section-header h1 {
    margin-left: 0;
  }
}

.brands-box {
  position: relative;
  counter-reset: count;
  display: flex;
  z-index: 1;
  height: 30%;
  width: 100%;
  margin-top: 10rem;
}
.brands-box__img {
  counter-increment: count;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  min-width: 35rem;
  width: 30vw;
  height: 100%;
  padding: 0 1.5vw;
  overflow: hidden;
}
@media (max-width: 767px) {
  .brands-box__img {
    width: 40vw;
    min-width: 40rem;
    height: 40vw;
  }
}
.brands-box__img:nth-child(n+10):before {
  content: counter(count);
}
.brands-box__img figure {
  position: absolute;
  z-index: 1;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-appearance: none;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  transform-origin: center;
}
.brands-box__img figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  vertical-align: middle;
  transform-origin: center;
}

.version {
  display: inline-block;
  position: fixed;
  text-align: center;
  z-index: 1;
  text-decoration: none;
  background: #333;
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 10px;
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  top: -30px;
  right: -50px;
  bottom: auto;
  transform: rotate(45deg);
  transform-origin: 0% 100%;
  border-radius: 0;
  padding: 8px 30px;
  font-size: 11px;
}
.version:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100px;
  bottom: 0;
  right: 0%;
  background: transparent;
}
@media (max-width: 767px) {
  .version {
    transform: scale(0.6) rotate(45deg);
    right: -100px;
  }
}

.design-box {
  display: flex;
  justify-content: center;
  max-height: 120rem;
  min-height: 95rem;
  height: 60vw;
  flex-wrap: wrap;
  margin: 3rem auto;
  max-width: 240rem;
}
@media only screen and (max-width: 36em) {
  .design-box {
    max-height: none;
    min-height: none;
    height: 160rem;
  }
}
.design-box__column {
  position: relative;
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-grow: 0.2;
  margin: 1rem;
}
@media only screen and (max-width: 41.25em) {
  .design-box__column--1 {
    display: none;
  }
  .design-box__column--2 {
    margin: 3vw;
    margin-right: 1.5vw;
    flex-grow: 1;
  }
  .design-box__column--3 {
    margin: 3vw;
    margin-left: 1.5vw;
  }
}
@media only screen and (max-width: 36em) {
  .design-box__column--3 {
    display: none;
  }
  .design-box__column--2 {
    margin: 3vw;
    height: 100%;
  }
}
.design-box__img {
  position: relative;
  background: linear-gradient(to top, var(--color-background), var(--color-tertiary-2));
  margin: 1rem 0rem;
  overflow: hidden;
}
.design-box__img:hover img {
  transform: scale(1.15);
  filter: saturate(1.6);
}
.design-box__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
  transition: all 0.4s;
}
.design-box__img--1, .design-box__img--5 {
  flex-basis: 30%;
}
.design-box__img--2, .design-box__img--6 {
  flex-basis: 67%;
}
.design-box__img--3 {
  flex-basis: 70%;
  background: linear-gradient(to bottom, var(--color-background), var(--color-tertiary-3));
}
.design-box__img--3 img {
  opacity: 0.3;
}
.design-box__img--4 {
  flex-basis: 30%;
}
.design-box__img--7 {
  display: none;
}
@media only screen and (max-width: 36em) {
  .design-box__img--3 {
    flex-basis: 40%;
  }
  .design-box__img--4 {
    flex-basis: 28%;
    order: 3;
  }
  .design-box__img--4 img {
    -o-object-position: bottom left;
       object-position: bottom left;
  }
  .design-box__img--7 {
    flex-basis: 28%;
    display: block;
    order: 1;
  }
}
.design-box__content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 95%;
  height: 60rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 41.25em) {
  .design-box__content {
    padding: 2rem 0;
  }
}
.design-box__header {
  font-weight: 400;
  font-size: 3.6rem;
  margin: 0rem 2rem;
  margin-bottom: 2rem;
}
.design-box__para {
  text-align: center;
  font-size: 2.4rem;
  padding: 0 2vw;
  margin-bottom: 2rem;
  line-height: 1.5;
  letter-spacing: 1.6;
}
@media only screen and (max-width: 68.75em) {
  .design-box__para {
    font-size: 2.1rem;
  }
}
@media only screen and (max-width: 41.25em) {
  .design-box__para {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 36em) {
  .design-box__para {
    font-size: 2.4rem;
  }
}

.footer__content {
  display: flex;
  flex-direction: column;
  padding: 3rem 2vw;
}
@media only screen and (max-width: 48em) {
  .footer__content {
    padding: 3rem 1vw;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -2vw;
}
@media only screen and (max-width: 40.31em) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}
.footer__nav ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  margin-right: 3rem;
}
@media only screen and (max-width: 40.31em) {
  .footer__nav ul {
    margin-right: 0;
  }
}
.footer__nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 2.4rem;
  padding-bottom: 0.5rem;
  margin-left: 3rem;
  border-bottom: 2px dotted transparent;
  transition: all 0.2s;
}
.footer__nav ul li a:hover {
  border-bottom: 2px solid var(--color-primary);
}
@media only screen and (max-width: 40.31em) {
  .footer__nav ul li a {
    margin: 0 2vw;
  }
}
.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
@media only screen and (max-width: 61.9em) {
  .footer__logo {
    margin-top: 2rem;
  }
}
.footer__logo img {
  width: 6rem;
  margin-left: 3rem;
}

.social {
  display: flex;
}
@media only screen and (max-width: 40.31em) {
  .social {
    margin-top: 4rem;
  }
}
.social a {
  text-decoration: none;
}
.social__icon {
  width: 100%;
  height: 100%;
}
.social__link {
  height: 4.5rem;
  width: 4.5rem;
  transition: all 0.2s;
  margin-left: 1.6rem;
}
.social__link:hover {
  transform: translateY(-0.5rem);
  filter: brightness(1.15);
}
@media only screen and (max-width: 40.31em) {
  .social__link {
    margin: 0 2.2vw;
  }
}
.social #twitter {
  fill: #1DA1F2;
}
.social #facebook {
  fill: #4267B2;
}
.social #youtube {
  fill: #FF0000;
}
.social #pinterest {
  fill: #E60023;
}
.social #instagram {
  fill: #E1306C;
}

.about-box__content {
  padding: 0;
}
.about-box__para {
  max-width: 100rem;
  width: 100%;
}
.about-box__para p {
  font-size: 2.5rem;
  margin: 4rem 3rem;
  text-align: left;
  color: #eee;
  font-weight: 300;
}
.about-box__img {
  width: 50%;
}
.about-box__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.about-box span {
  font-weight: 400;
  color: #fff;
}

.sales-box {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #000;
  width: 100%;
}
.sales-box .section-header {
  position: relative;
  margin-left: 5rem;
  margin-bottom: 3rem;
  top: 3vw;
}
.sales-box .section-header h1 {
  margin-bottom: 0;
}
@media only screen and (max-width: 36em) {
  .sales-box .section-header {
    padding-left: 0;
    margin: 3rem auto;
    padding: 0 3rem;
  }
}
.sales-box__commercial, .sales-box__residential {
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  transition: width 0.5s;
  text-align: center;
}
.sales-box__commercial:hover, .sales-box__residential:hover {
  width: 110%;
}
.sales-box__commercial h3, .sales-box__residential h3 {
  margin-bottom: 7rem;
}
.sales-box__residential {
  background-image: linear-gradient(rgba(19, 24, 25, 0.8), rgba(19, 24, 25, 0.1)), url(/css/img/sales-box-1.jpg);
  -webkit-clip-path: polygon(0 8vw, 101vw 0, 100% 100%, 0 100%);
          clip-path: polygon(0 8vw, 101vw 0, 100% 100%, 0 100%);
  height: 125rem;
}
@media only screen and (max-width: 36em) {
  .sales-box__residential {
    height: 90rem;
  }
}
.sales-box__commercial {
  background-image: linear-gradient(rgba(19, 24, 25, 0.7), rgba(19, 24, 25, 0.6)), url(/css/img/sales-box-2.webp);
  transform: translateY(-21rem);
  height: 130rem;
  -webkit-clip-path: polygon(0 8vw, 101vw 0, 100% 100%, 0 100%);
          clip-path: polygon(0 8vw, 101vw 0, 100% 100%, 0 100%);
}
@media only screen and (max-width: 36em) {
  .sales-box__commercial {
    height: 80rem;
  }
}
.sales-box__header {
  font-size: 10rem;
  margin: 0 3rem;
  font-weight: 500;
  text-transform: uppercase;
  width: 90vw;
}
@media only screen and (max-width: 36em) {
  .sales-box__header {
    font-size: 8rem;
  }
}
.sales-box__link {
  color: #fff;
  text-decoration: none;
}
.sales-box__content {
  position: absolute;
  top: 50%;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 998;
}
@media only screen and (max-width: 36em) {
  .sales-box__content {
    top: 45%;
  }
}
.sales-box__content--1 {
  top: 45%;
}
@media only screen and (max-width: 36em) {
  .sales-box__content--1 {
    top: 40%;
  }
}
.sales-box .btn-2 {
  background-size: 270%;
  position: relative;
  z-index: 998;
}
.sales-box .sales__svg {
  position: relative;
  z-index: 996;
}
.sales-box .sales__svg--2 {
  transform: translateY(-20rem);
  z-index: 9;
}

.svg-overlay {
  position: relative;
}
.svg-overlay__svg {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.svg-overlay--1 {
  transform: translateY(-1px);
}
.svg-overlay--1 .svg-overlay__svg {
  top: 0;
}

.svg-overlay--2 {
  transform: translateY(1px);
}
.svg-overlay--2 .svg-overlay__svg {
  bottom: 0;
}

.carousel {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
}
.carousel__slide {
  display: flex;
  width: 100%;
  height: 40rem;
  align-items: center;
  margin-bottom: 10rem;
}
.carousel__slide img {
  width: 70%;
  height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 5rem;
}

.gallery {
  width: 53%;
  height: 60vw;
  max-width: 120rem;
  min-height: 80rem;
  max-height: 85rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 4rem 0rem 2rem;
  overflow: hidden;
}
@media only screen and (max-width: 86.25em) {
  .gallery {
    padding-right: 0;
  }
}
@media only screen and (max-width: 61.9em) {
  .gallery {
    justify-content: flex-end;
    padding-right: 3rem;
  }
}
@media only screen and (max-width: 48em) {
  .gallery {
    justify-content: center;
    padding-left: 0;
    padding-right: 2rem;
  }
}
@media only screen and (max-width: 36em) {
  .gallery {
    display: none;
  }
}
.gallery__col {
  width: 47%;
  flex-grow: 0.75;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  position: relative;
}
@media only screen and (max-width: 86.25em) {
  .gallery__col--1 {
    display: none;
  }
}
@media only screen and (max-width: 48em) {
  .gallery__col {
    height: 70%;
    transform: translateY(25%);
    width: 50%;
  }
  .gallery__col--1 {
    display: flex;
  }
  .gallery__col--2 {
    display: none;
  }
}
.gallery__img {
  margin: 1rem;
  width: 100%;
  overflow: hidden;
}
.gallery__img:hover img {
  transform: scale(1.15);
  filter: saturate(1.6);
  flex-grow: 100%;
}
.gallery__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
  transition: all 0.4s;
}
.gallery__img--1 {
  flex-basis: 1;
  flex-grow: 1;
}
.gallery__img--2 {
  flex-basis: 55%;
  flex-grow: 55%;
}
.gallery__img--3 {
  flex-basis: 42%;
  flex-grow: 42%;
}
@media only screen and (max-width: 86.25em) {
  .gallery__img--2, .gallery__img--3 {
    flex-basis: 50%;
  }
}

.blogs-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  margin-top: 3rem;
  width: 70%;
  padding: 1.4rem 0;
  gap: 3.2rem;
}
.blogs-container .blog {
  background-color: rgb(240, 245, 245);
  height: 24rem;
  border-radius: 12px;
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blogs-container .blog h3 {
  font-size: 2.4rem;
  margin-bottom: 0.6rem;
}
.blogs-container .blog div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blogs-container .blog .blog-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}